---
import Layout from '../layouts/Layout.astro';
import Blockquote from '../components/Blockquote.astro'
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
<section 
  class="relative w-full h-[300px] bg-gray-200 flex flex-row  px-5" 
>
  <img 
    src={frontmatter.imageUrl} 
    alt={frontmatter.title} 
    class="absolute inset-0 object-cover object-top w-full h-full" 
  />
  <div class="relative z-30 flex flex-col justify-end">
    <p 
      class="p-0 m-0 mb-[-12px] leading-none text-gray-300 uppercase"
      style="font-size: clamp(1.2rem, 2vw, 2.6rem);" 
    >
      {frontmatter.lede}
    </p>
    <h1 
      class="p-0 m-0 font-bold leading-none text-white"
      style="font-size: clamp(4rem, 10vw, 11.25rem); margin-bottom: -1rem"  
    >
      {frontmatter.title}
    </h1>
  </div>
</section>

<h2 class="relative flex w-full px-8 py-4 italic tracking-tight text-gray-800 bg-white justify-left items-left slogan font-regular" style="font-size: clamp(1.2rem, 3vw, 2.4rem);">
  {frontmatter.slogan}
</h2>

<section class="grid grid-cols-1 gap-4 bg-gray-200 md:grid-cols-3">
  <!-- First Column: 66% Width -->
  <div class="relative col-span-2 p-6 overflow-hidden">
    <a href={frontmatter.mapPage} target="_blank" rel="noopener noreferrer">
      <img 
        src={frontmatter.mapUrl} 
        alt={frontmatter.mapAlt}  
        class="w-full h-auto"
      >
    </a>
  </div>

  <!-- Second Column: 33% Width -->
  <div class="col-span-1 space-y-4 border-l-[16px] border-solid border-blue-200 px-4 pt-10">


    <section class="relative pt-8 pb-12 text-xl font-bold leading-6 station">
      <img src="./images/arrow.svg" class="arrow" />
      <p>Click on the map to see in a full resolution.</p>
    </section>


    <section class="relative pb-8 about junction">
      <h3 class="pb-3 text-2xl font-bold leading-6">{frontmatter.about}</h3>
      <slot />
    </section>


   <section class="relative junction">
      <h3 class="pb-3 text-2xl font-bold leading-6">What People are Saying</h3>

      <Blockquote quote={frontmatter.quote1} cite={frontmatter.quote1Cite} imgUrl={frontmatter.quote1Img} />

      <Blockquote quote={frontmatter.quote2} cite={frontmatter.quote2Cite} imgUrl={frontmatter.quote2Img} />

      <Blockquote quote={frontmatter.quote3} cite={frontmatter.quote3Cite} imgUrl={frontmatter.quote3Img} />

  </div>
</section>

</Layout>

